$fontColor: #161f27;
$backgroundColor: #f7f7f7;

html {
    background: $backgroundColor;
}
body {
    background: $backgroundColor;
    overflow-x: hidden;
}
body {
    color: $fontColor;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    letter-spacing: 0;
}
a {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    letter-spacing: 0;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    letter-spacing: 0;
}
@mixin contentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin customSectionMargin {
    margin-top: 20px;
    padding: 30px 40px;
}
.show-video {
    img {
        display: none;
    }
    .uk-overlay {
        display: none;
    }
}
