$fontColor: #161f27;
$backgroundColor: #f7f7f7;

html {
    background: $backgroundColor;
}
body {
    background: $backgroundColor;
}
body {
    color: $fontColor;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    letter-spacing: 0;
}
a {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    letter-spacing: 0;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    letter-spacing: 0;
}
@mixin contentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
