// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .call-out {
        .container-fluid {
            .overlay {
                h1 {
                    font-size: 64px !important;
                }
            }
        }
    }
    .container-fluid {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .clients-insight {
        .uk-slider-items {
            .quote {
                max-width: 60%;
            }
        }
    }
    .contacts {
        .email-meta {
            font-size: 22px !important;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
