body {
  color: #161f27;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  letter-spacing: 0;
}

a {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  letter-spacing: 0;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  letter-spacing: 0;
}

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 52px !important;
    padding-right: 52px !important;
  }
}

.navbar a {
  font-size: 22px;
  letter-spacing: 0;
  color: #161f27 !important;
}

.navbar .navbar-brand img {
  width: 100px;
  height: 100px;
}

.call-out {
  margin-top: 20px;
  height: 570px;
}

.call-out .container-fluid {
  height: 100%;
}

.call-out .container-fluid .bg-img {
  overflow: hidden;
  height: 100%;
  background-image: url("./images/chairs-cloth-clouds-curtain-574011.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.call-out .container-fluid .overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-out .container-fluid .overlay h1 {
  color: white;
}

.motion-events {
  margin-top: 90px;
}

.motion-events .card {
  border: none;
}

.motion-events .uk-card-body {
  padding: 0 !important;
}

.motion-events .uk-overlay-primary {
  background: rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.motion-events .uk-overlay p {
  color: white;
  font-size: 36px;
  letter-spacing: 0;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.motion-events .uk-overlay:hover p {
  opacity: 1;
}

.stills-callout .container-fluid .bg-img {
  background-image: url("./images/woman-in-white-wedding-dress-holding-hand-to-man-in-black-752842.jpg");
}

.stills-section {
  margin: 90px 0;
}

.stills-section .uk-card-body {
  padding: 0 !important;
  margin-bottom: 30px;
}

.stills-section .uk-overlay-primary {
  background: rgba(0, 0, 0, 0);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.stills-section .uk-overlay {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.stills-section .uk-overlay h2,
.stills-section .uk-overlay p {
  color: white;
}

.stills-section a:hover .uk-overlay-primary {
  background: rgba(0, 0, 0, 0.35);
}

.stills-section a:hover .uk-overlay {
  opacity: 1;
}

.modal-full .uk-modal-title {
  font-size: 20px;
}

.modal-full .uk-modal-body .featured-img {
  padding-bottom: 30px;
}

.modal-full .uk-modal-body .meta {
  margin: 60px 0px;
}

.modal-full .uk-modal-body .row {
  margin-bottom: 90px;
}

footer {
  margin-bottom: 60px;
}

footer a {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0;
  display: block;
  margin: 20px 10px;
  color: #161f27;
}

footer a:hover {
  color: #161f27;
}

footer div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */